<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>


<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <div th:replace="auth/fragments/fr_logout.html :: logout"></div>

            <div class="mb-2">
                <a href="list" class="btn btn-sm btn-outline-primary mb-3">BACK</a>
            </div>
            Update role
        </div>

        <form th:action="@{edit}" method="POST">
            <div class="card-body">

                <label for="name" class="form-label">Name</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="name" name="name" th:value="${role.name}">
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="reservedBySystem"  th:checked="${role.reservedBySystem}" id="idChecked" disabled>
                    <label class="form-check-label" for="idChecked">
                        Reserved by system
                    </label>
                </div>

            </div>

            <div class="card-footer">
                <input type="hidden"  name="id" th:value="${role.id}">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>